transition(n)
  -webkit-transition n
  -moz-transition n
  transition n

.biu-instance
  height 50px
  line-height @height
  top -55px
  left 0
  right 0
  position fixed
  background-color white
  text-align center
  border-bottom 1px solid #e2e2e2
  z-index 99999
  transition(top .3s ease-in-out)

.biu-content 
  display inline-block

.biu-close
  position absolute
  right 20px
  top 0
  cursor pointer

.biu-shown
  top 0 !important

.biu-success,.biu-info,biu-warning
  color white

.biu-success
  color #3c763d
  background-color #dff0d8
  border-color #d6e9c6

.biu-info
  color #31708f
  background-color #d9edf7
  border-color #bce8f1

.biu-warning
  color #8a6d3b
  background-color #fcf8e3
  border-color #faebcc

.biu-danger
  color #a94442
  background-color #f2dede
  border-color #ebccd1